@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8b2f11;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b54a26;
  border-radius: 100000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ac4725;
}
